h2{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    font-size: 38px;
}

.products{
    border-radius: 30px;
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: rgb(109, 74, 167);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 