.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 1rem;
    overflow: hidden;
}

.cards div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.cards h4{
    color: white
}

.cards img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 50%;
    transition: 1s;
}

.cards img:hover{
    transform: scale(1.1);
}

.cards p{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.ver-mas{
    text-decoration: none;
    background-color: rgb(109, 74, 167);
    font-size: 1.2rem;
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
    align-self: center;
}

.ver-mas:hover {
    background-color: white;
    color: white;
}