.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.home h1{
    font-size: 56px;
    margin-top: -120px;
    margin-bottom: 30px;
    color: white;
}

.home p{
    font-size: 20px;
    color: white;
}

.b-home{
    font-size: 30px;
    color: #3e3e3e;
    font-weight: bold;
    background-color: rgb(189, 189, 189);
    margin-top: 40px;
padding: 16px 8px;
    text-align: center;
border-radius: 8px;
    text-decoration: none;
}