.footer{
    background-color: rgb(109, 74, 167);
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    bottom: 0;
}

.footer div{
    background-color: rgb(109, 74, 167);
    margin-right: 150px;
}

.footer img{
    width: 64px;
}

.footer p{
    font-size: 18px;
    background-color: rgb(109, 74, 167);
    color: black;
    font-weight: 550;
    margin: 0;
}